@font-face {
  src: url("../fonts/PublicSans-VariableFont_wght.ttf");
  font-family: PublicSans;
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: PublicSans;
  overflow-x: hidden;
}

.nav {
  position: -webkit-sticky;
  position: sticky;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0 px 0;
  height: 80px;
  border-bottom: 1px solid #31d35c;
}

.nav .site-logo {
  width: 20%;
  margin-left: 10%;
  margin-top: 7px;
}

.nav .site-logo img {
  width: 140px;
}

.nav .site-links {
  display: inline-block;
  font-weight: 400;
  cursor: pointer;
}

.nav .site-links span a {
  padding: 27px 13px;
  text-decoration: none;
  color: #9698a6;
}

.nav .site-links span a:hover {
  color: #000;
  -o-border-image: linear-gradient(to right, #31d35c 0%, #2bb7da 100%);
     border-image: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
     border-image: linear-gradient(to right, #31d35c 0%, #2bb7da 100%);
  border-bottom: 3px solid transparent;
  border-image-slice: 1;
}

.nav .request-btn-wrapper {
  margin-left: 10%;
}

.nav .request-btn-wrapper .request-btn {
  background: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background: linear-gradient(to right, #31d35c, #2bb7da);
  color: white;
  font-weight: 700;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 18px;
  border-radius: 30px;
  width: 180px;
  font-size: 15px;
}

.nav .request-btn-wrapper .request-btn:hover {
  opacity: 0.7;
}

.nav .hamburger-wrapper {
  visibility: hidden;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  opacity: 0;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  visibility: hidden;
  -webkit-transition: visibility 0s linear 0.25s, opacity 0.25s 0s, -webkit-transform 0.25s;
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, -webkit-transform 0.25s;
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s, -webkit-transform 0.25s;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem 1.5rem;
  width: 24rem;
  border-radius: 0.5rem;
}

.show-modal {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: visibility 0s linear 0s, opacity 0.25s 0s, trasnform 0.25s;
  transition: visibility 0s linear 0s, opacity 0.25s 0s, trasnform 0.25s;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

@media screen and (max-width: 950px) {
  .nav {
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 0 8px 0;
    height: 80px;
  }
  .nav .site-logo {
    width: 20%;
    margin-left: 20px;
    margin-top: 7px;
  }
  .nav .site-logo img {
    width: 140px;
  }
  .nav .site-links {
    display: inline-block;
    font-weight: 400;
    margin-left: 5px;
    cursor: pointer;
  }
  .nav .site-links span a {
    padding: 27px 13px;
    text-decoration: none;
    color: #9698a6;
  }
  .nav .site-links span a:hover {
    color: #000;
    -o-border-image: linear-gradient(to right, #31d35c 0%, #2bb7da 100%);
       border-image: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
       border-image: linear-gradient(to right, #31d35c 0%, #2bb7da 100%);
    border-bottom: 3px solid transparent;
    border-image-slice: 1;
  }
  .nav .request-btn-wrapper {
    margin-left: 6%;
  }
  .nav .request-btn-wrapper .request-btn {
    background: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
    background: linear-gradient(to right, #31d35c, #2bb7da);
    color: white;
    font-weight: 700;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 18px;
    border-radius: 30px;
    width: 150px;
    font-size: 15px;
  }
  .nav .request-btn-wrapper .request-btn:hover {
    opacity: 0.7;
  }
  .nav .hamburger-wrapper img {
    visibility: hidden;
  }
}

@media screen and (max-width: 758px) {
  .nav {
    background-color: white;
    padding: 0 40px 8px 0;
    height: 70px;
  }
  .nav .site-logo {
    width: 20%;
    margin-left: 10%;
    margin-top: 7px;
  }
  .nav .site-logo img {
    width: 180px;
  }
  .nav .site-links {
    display: none;
  }
  .nav .request-btn-wrapper {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */